<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Detailed Post</h1>
    <hr>
    <p>Id: <%=post.id%></p>
    <hr>
    
        <div>
            <h2>@<%=post.username%></h2>
            <h3><%=post.content%></h3>
            <br>
        </div>
</body>
</html>